<div class="container-fluid" id="mainappcontainer" data-bs-theme="dark">

<div id="add-notebook-modal" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="container text-align" hx-get="/notebooks/lite" hx-target="#accordion-topics" hx-trigger="load">
    <div class="row mt-3">
        <div class="col-3">
            <button type="button" class="btn btn-danger" hx-get="/logout" hx-trigger="click" hx-target="#wrapper-container">Logout</button>
        </div>
        <div class="col-9">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
                <input type="text" class="form-control" value="" name="text" placeholder="looking for something?" hx-get="/notebooks/search" hx-trigger="input changed delay:300ms, search" hx-target="#accordion-topics">
              </div>                  
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <h5><div id="accordion-title">Notebooks</div></h5>
            <div class="accordion" id="accordion-topics">
            </div>
            <button type="button" class="btn btn-primary" id="create-new-notebook" hx-get="/notebooks-modal" hx-trigger="click" hx-target="#add-notebook-modal" data-bs-toggle="modal" data-bs-target="#add-notebook-modal">+ New Notebook</button>
        </div>
        <div class="col-9">
            <div id="md-wrapper" style="display: none">
                <div id="document-content" style="float: left; width: 100%; display: block">
                    <div id="notebook-toolbar" class="notebook-toolbar">
                        <h5><div id="notebook-title" class="element-title1">Document Title goes here</div></h5>
                </div>
        
                <div id="markdown-editor-container">
                    <div id="markdown-editor-wrapper">
                        <textarea id="markdown-editor">aaaa</textarea>
                    </div>
                </div>
                <!-- <button id="save-button" style="float: left">Save</button> -->
                <button type="button" class="btn btn-primary" id="save-button" hx-put="js:{getPostUrl()}" hx-trigger="click" hx-vals="js:{active_notebook: getActiveNotebook()}" hx-swap="none" style="float: left">Save</button>
                <button type="button" class="btn btn-danger" id="delete-button" style="float: right">Delete</button>
            </div>
        </div>
    </div>
</div>

</div>
