@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --my-bg-gray: #43403f; /* Example color */
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--my-bg-gray);
    font-family: 'Poppins', sans-serif';
}

.form-label{
    color: white;
    font-size: large;
}

.modal-title{
    color: white;
}

.my-floating-label{
    color: white;
}

#loginform{
    width: 24%;
    background-color: white;
    /* background-color: var(--my-bg-gray); */
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}

#loginform .btn-primary{
    width: 100%;
}

/* #loginform .form-control{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.87);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
} */

#loginform .form-label{
    font-family: 800 !important;
    font-size: large;
    color: var(--my-bg-gray);
}

.form-control::placeholder {
    font-style: italic;
}

#loginform .form-control::placeholder {
    font-style: italic;
}


#registrationForm{
    width: 24%;
    background-color: white;
    /* background-color: var(--my-bg-gray); */
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}

#registrationForm .btn-primary{
    width: 100%;
}

@media only screen and (max-width:600px){
    #loginform{
        width: 100% !important;
    }
}

#notebook-title{
    color: white;
}

#accordion-title {
    color: white;
}
  
/* Change the editor background color */
.CodeMirror-scroll {
    background-color: #ede7e739; /* Light gray background */
}

.CodeMirror-gutter-text {
    color: white
}
  
/* Change the color of the toolbar */
.editor-toolbar {
    background-color: #ffffff;
}
